:root {
    --primary-color: #0099ff;
    --primary-color-dark: #007bff;
    --primary-color-rgb: 0, 153, 255;
    --primary-color-rgba: 0, 153, 255, .8;
    --primary-color-offset: #ffffff;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.Header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Header .Header-Title {
    padding: 0;
    margin: 0;
    font-weight: 100;
    text-align: center;
}

.Header .Header-Logo{
    height: 30px;
}

.Searchbar {
    background-color: #f3f3f3;
}

.Searchbar .Searchbar-FieldsContainer {
    display: flex;
    flex-direction: column;
}

.Searchbar .Searchbar-FieldsContainer .Searchbar-Field.padding {
    padding: 10px;
}

.Searchbar .Searchbar-FieldsContainer .Searchbar-Field.marginRight {
    margin-right: 10px;
}

.Searchbar .Searchbar-FieldsContainer .Searchbar-Field.displayFlex {
    display: flex;
}

.Searchbar .Searchbar-FieldsContainer .Searchbar-Field.flexFill {
    flex: 1 1 auto;
}

.Searchbar .Searchbar-FieldsContainer .Searchbar-Field.flexDirectionColumn {
    flex-direction: column;
}

.Searchbar .Searchbar-FieldsContainer .Searchbar-Field.inlineBlock {
    display: inline-block;
}

.Searchbar .Searchbar-FieldsContainer .Searchbar-Field label {
    display: block;
    color: #666666;
    font-size: 1rem;
}

.Searchbar .Searchbar-FieldsContainer .Searchbar-Field input,
.Searchbar .Searchbar-FieldsContainer .Searchbar-Field select {
    font-size: 1.3rem;
    background-color: #ffffff;
    border: 1px solid #aaaaaa61;
    border-radius: 5px;
    font-weight: 200;
    padding: 5px;
}

.Searchbar .Searchbar-FieldsContainer .Searchbar-Field select {
    height: 35px;
    /* :/ */
}

.Searchbar .Searchbar-FieldsContainer .Searchbar-Field select option {
    font-weight: 200;
}

.Searchbar .Searchbar-FieldsContainer .Searchbar-Field button {
    color: var(--primary-color-offset);
    border: 1px solid var(--primary-color);
    text-align: center;
    cursor: pointer;
    padding: .4rem .8rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    font-weight: 200;
}

.Searchbar .Searchbar-FieldsContainer .Searchbar-Field button,
.Searchbar .Searchbar-FieldsContainer .Searchbar-Field button:active {
    background-color: var(--primary-color);
}

.Searchbar .Searchbar-FieldsContainer .Searchbar-Field button:hover {
    background-color: var(--primary-color-dark);
}

.ReorderItems{
    padding: 10px 10px 10px 20px;
    text-align: right;
}

.ReorderItems .ReorderItem{
    padding: 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: rgb(var(--primary-color-rgb));
    color: var(--primary-color-offset);
    font-size: .8rem;
    font-weight: bold;
    cursor: pointer;
}

.ReorderItems .ReorderItem.noselect {
/* https://stackoverflow.com/a/4407335 */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.ReorderItems .ReorderItem:not(:last-child){
    margin-right: 10px;
}

.ReorderItems .ReorderItem.ascending{
    background-color: rgba(var(--primary-color-rgba));
}

.ReorderItems .ReorderItem.ascending::after{
    content: " \2191" /*upwards arrow*/
}

.ReorderItems .ReorderItem.descending::after{
    content: " \2193" /*downwards arrow*/
}